.gcloudignore
.git
.gitignore
node_modules/
vendor/
public/hot
public/storage
storage/*.key
storage/logs/*.log
database/*.sqlite
database/*.sqlite-journal
.phpunit.result.cache
.env
.env.*
tests/reports/
desktop/node_modules/
desktop/dist/
desktop/dist-electron/
desktop/release/
